p{
    color: #ffeba7;
    font-size: 24px;
}

hr{
    border-style: none;
    border-top-style: dotted;
    border-width: 7px;
    width: 30%;
    height: 0;

}

body{
    background-color: black;
    text-align: center;
}

h1{
    color: gold;
}
h2{
    color: gold;
    font-size: 48px;
}
