p{
    color: #ffeba7;
    font-size: 1rem;
}

hr{
    border-style: none;
    border-top-style: dotted;
    border-width: 7px;
    width: 30%;
    height: 0;
    color: gold;

}

body{
    background-color: black;
    text-align: center;
    margin: 0 50px 0 50px;
}

h1{
    color: gold;
}
h2{
    color: gold;
    font-size: 48px;
}
h3{
    color: gold;
    font-size: 1.5rem;
}